{% extends "productos/base.html" %}

{% block contenido %}
    
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-3">
                        <div class="card h-100">
                            <!-- Member image-->
                            <div class="col-md-7"><img class="card-img-top mb-1 mb-md-3" src="https://drive.google.com/uc?export=view&id=1oW9dRYYkSU-S4N7YBmsDDc-m6Sxczfxo" /></div>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Member name-->
                                    <h3 class="fw-bolder">Gonzalo Salines</h3>
                                    <h6 class="fw-normal">Mi nombre es Gonzalo Salines, soy Analista de Sistemas de Computación. Actualmente trabajo en la industria de localización de software en el área de "Supply Chain Management". Me considero una persona organizada, metódica and enfocado a la resolución de problemas, tomando decisiones basados en datos. Tengo buen aptitudes interpersonales y mucho espíritu de trabajo en equipo. Siempre estoy entusiasmado por aprender cosas nuevas y encarar nuevos desafíos.  </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100">
                            <!-- Member image-->
                            <div class="col-md-8 rounded"><img class="card-img-top mb-1 mb-md-10" src="https://drive.google.com/uc?export=view&id=1nqU3F49ZSV--g7o3HfIRvGu_BsVZ9r94" alt="..." /></div>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Member name-->
                                    <h3 class="fw-bolder">Gonzalo García</h3>
                                    <h6 class="fw-normal">Tengo 48 años, soy casado y padre de 3 hijos. Soy Ingeniero Industrial y me desempeño como Jefe de Planificación Operativa en la refinería Luján de Cuyo de YPF. Me gusta aprender y aplicar conocimientos y desarrollos nuevos a mi trabajo y a mi vida. Desde chico me gusta la programación y el concepto de automatizar procesos. Con Python busco automatizar el análisis y procesamiento de datos y la disponibilización de los resultados.  </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100">
                            <!-- Member image-->
                            <div class="col-md-6"><img class="card-img-top mb-1 mb-md-10" src="https://drive.google.com/uc?export=view&id=1BicUGM4E3fgTa5f-3pGl-4WUcgIDg2Ln" alt="..."/></div>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Member name-->
                                    <h3 class="fw-bolder">María Carbajal</h3>
                                    <h6 class="fw-normal">Tengo 33 años y estudié Ingeniera en Electrónica y posteriormente un MBA. Actualmente trabajo en una empresa de reclutamiento y talento IT de Madrid como Head of Data and Tech Innovation. Me considero una persona resolutiva y orientada a la acción. Me gustan tanto los idiomas como los lenguajes de programación, diseñar sistemas y desde niña soñaba con construir una robotina. En mis tiempos libres me dedico a leer sobre avances tecnológicos. </h6>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

{% endblock %}